<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center mt-5">Edit Camp</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/camps/<%= camp.id %>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="camp[title]" required value="<%= camp.title %>">
                <div class="invalid-feedback">
                    Please provide a title.
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" id="image" name="image">
                <% if (camp.image && camp.image.url) { %>
                <img src="<%= camp.image.url %>" alt="Current Image" class="img-fluid mt-2 mb-2">
                <% } %>
                <div class="invalid-feedback">
                    Please upload an image.
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="camp[location]" required value="<%= camp.location %>">
                <div class="invalid-feedback">
                    Please provide a location.
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="camp[description]" rows="5" required><%= camp.description %></textarea>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">₹</span>
                    <input type="text" class="form-control" id="price" name="camp[price]" required value="<%= camp.price %>">
                    <div class="invalid-feedback">
                        Please provide a price.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Edit Camp</button>
            <a href="/camps/<%= camp.id %>" class="btn btn-secondary ms-2">Back</a>
        </form>
    </div>
</div>